$card-size: 200px
$card-spacing: 10px
*
  margin: 0
  padding: 0

body, html
  min-width: 100%
  min-height: 100%
  font-family: sans-serif

#nav-bar
  display: flex
  width: 100%
  background-color: #455a64

  .selected
    background-color: #102027
    font-weight: bold

  > span
    background-color: #455a64
    color: white
    cursor: pointer
    padding: 15px

    &:hover
      background-color: #1c313a

.card-holder
  display: flex
  flex-flow: row wrap
  box-sizing: border-box
  width: 100%
  padding: $card-spacing
.card
  width: $card-size
  height: $card-size
  margin: $card-spacing
  box-sizing: border-box
  border: solid black 1px
  padding: $card-spacing * 2
  @media (orientation: portrait)
    flex-grow: 1
